# Godot-specific
.godot/
.import/
export.cfg
export_presets.cfg

# Godot binaries
*.exe
*.dll
*.pck
*.apk
*.zip

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# Python 
__pycache__/
*.pyc

# VSCode
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
